//agrupa a primeira faixa da linha 11 a 27
.container{
  display: flex;
  flex-direction: column;
  background-color: #F7CBDA;
  scroll-behavior: smooth;
  }
  .sub1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffdce8;
    margin-top: -3em;
    width: 100%;
    }

  .imgcoin{
    width: 8em;
  }
  *{
    padding: 0vh;
  }
  .sub-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffdce8;
  height: 23em;
  padding-bottom: 9em;
  }
  .sub-3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: #f9d2de;
  height: 30em;
  }
  
  .img5{
    width: 4em;
  }

  .imgaa{
    width: 15em;
  }
  
  .sub-4{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F7CBDA;
  height: 35em;
  }


  .img6{
    width: 5em;
    border-radius: 50px;
    height: 5em;
    object-fit: cover;
     margin-left: 2em;
  }
  
  .sub-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../../../public/images/bg-wave-blog-thumb@3x.png ');
    background-size: 100% 100%;
    background-color: #F7CBDA;
    height: 14em;
  }
  
  .sub-6{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F7CBDA;
    height: 40em;
  }
  .sub-6-1{
  display: flex;
  flex-direction: column;
  width: 20em;
  }
  .sub-6-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffb0b0;
    width: 40em;
    padding: 5px;
    border-radius: 50px;
    height: 8em;
  margin-left: -20em;
  animation: go-back 1s; 


  }
  
  .sub-6-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffb0b0;
    margin-top: 1em;
    width: 40em;
    padding: 5px;
    height: 8em;
    border-radius: 50px;
  margin-left: -20em;

  }
  
  
  .sub-7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #CEBBF7;
    height: 21em;
  }
  
  .sub-7-1{
    margin-bottom: -5em;
  }
  
  .txt-1{
  font-family: 'attack';
  font-size: 4em;
  }
  
  .txt-2{
  font-family: 'attack9';
  background-color: #f9d2de;
  }

  .desc21{
    font-family: 'attack11';
    width: 50%;
    background-color: #f9d2de;
    margin-left: -1em;
  }
  
  .txt-3{
  width:70%;
  text-align: center;
  }
  
  .txt-4{
  width: 70%;
  text-align: center;
  }
  
  .txt-5{
  text-align: center;
    font-family: 'attack9';
  }
  
  .txt-6{
  text-align: center;
  }

  .p-1{
    text-align: center;
    font-family: 'attack11';
  }

  .p-2{
    margin-left: 4.4em;
    text-align: center;
    font-family: 'attack11';
    width: 70%;
  }

  .p-3{
    margin-left: 2.5em;
    text-align: center;
    font-family: 'attack11';
    width: 80%;
  }
  
  .txt-7{
    margin-top: 3em;
    font-family: 'attack11';
  }
  
  .txt-8{
    text-align: center;
    width: 80%;
    font-family: 'attack11';
  }
  
  .txt-8-1{
    text-align: center;
    width: 79%;
    font-family: 'attack11';
  }
  
  .txt-8-2{
    font-family: 'attack9';
    font-size: 36px;   
    width: 13em;
    text-align: center;
  }

  .tam5{
    display: flex;
    flex-direction: column;
    }

  .txt-8-3{
    text-align: center;
    width: 60%;
    font-family: 'attack11';
  }
  
  .txt-9{
    text-align: center;
    font-family: 'attack11';
    font-weight: bold;
    margin-left: 3em;
    margin-right: 3em;
    }
  
  .txt-9-1{
    font-size: 30px;
    font-weight: bold;
  }
  
  .sub-2-1{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content:center;
  }

  .tam{
    width: 70%;
  }

  .tam2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9d2de;
  }

  .tam3{
    width: 50%;
  }

  .nome-me{
    font-family: 'attack11';
  }
  
  .sub-4-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5em;
  }
  
  .sub-4-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  margin-left: 4em;
  }  
  .sub-4-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 9.5em;
  margin-top: 4em;
  }
  .btcont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
//botao login e cadastro
//login
  .botao0{
  background-color: rgb(247, 203, 218);
  padding: 0.8em;
  border-radius: 30px;
  font-family: 'attack8';
  border: 1px solid #ff83ac;
  margin-right: 3em;
  }
  #demo1 {
    -webkit-box-shadow: -7px 5px 13px -2px rgba(32, 32, 32, 0.65); 
    box-shadow: -7px 5px 13px -2px rgba(59, 59, 59, 0.65);
    }
  .botao0:hover{
    background-color: rgb(255, 182, 206);
    padding: 1em;
    border-radius: 30px;
    font-family: 'attack8';
    border: 1px solid #ca4b75;
    margin-right: 3em;
  }
//cadastro    
  .botao1 {
  background-color: #BFCDFE;
  border: 1px solid #4c73ff;
  padding: 0.28em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 30px;
  font-family: 'attack8';
  margin-right: 3em;
  margin-top: -8px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  #demo2 {
    -webkit-box-shadow: -7px 5px 13px -2px rgba(32, 32, 32, 0.65);
    box-shadow: -7px 5px 13px -2px rgba(59, 59, 59, 0.65);
    }
  .botao1:hover{
    background-color: #b0c1ff;
    border: 1px solid #203991;
    padding: 0.40em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 30px;
    font-family: 'attack8';
    margin-right: 3em;
    margin-top: -8px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .b3{
  color: #e20097;
  }
  
  .card-1{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 10em;
  height: 10em;

  }


  .img222{
    width: 10em;
    border-radius: 10px;
  }

  .img2{
    width: 19em;
  }
  
  .img3{
    width: 7em;
    margin-left: 3em;
  }
  
  .img4{
    width: 9em;
    margin-left: -3em;

  }

  .img5{
    width: 9em;
  }

  .card-2{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 10em;
  height: 10em;
  margin-left: 5em;
  }

  .cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 5em;
  }
  #demo3 {
    -webkit-box-shadow: -8px 11px 19px -4px rgba(0,0,0,0.13); 
    box-shadow: -9px 11px 19px -4px rgba(0,0,0,0.13);
    }
  .card-1:hover{
    transition: all 200ms ease-in;
    transform: scale(1.3);
    }
    
  .card-2:hover{
  transition: all 200ms ease-in;
    transform: scale(1.3);
  }
  
  
  a{
  text-decoration: none;
  color: black;
  }
  
  h1{
    font-family: 'Attack-2';
  }
  
@media screen and (min-width: 300px) and (max-width: 480px) {

 .sub-1{
   display: flex;
   flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 15em;
  }

  .b0{
    background-color: rgb(247, 203, 218);
    border-radius: 30px;
    font-family: 'attack11';
    border: 1px solid #ff83ac;
    }
    .b1{
    background-color: #BFCDFE;
    border: 1px solid #4c73ff;
    padding: 0.5em;
    border-radius: 30px;
    font-family: 'attack11';
    }

    .btcont{
      margin-bottom: 4em;
    }

  .sub-2
  {
    flex-direction: column;
    height: 50em;
  }   

  .imgbr{
    width: 18em;
  }
  .sub-3
  {
    align-items: center;
    flex-direction: column;
    height: 50em;
  }    

  .sub-4{
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90em;
  }

  .sub-4-1,.sub-4-2, .sub-4-3{
    margin-left: 0px;
  }

  .sub-4-1{
    margin-top: 7em;
  }


  .sub-5{
    margin-left: -30px;
  }

  .txt-7{
    width: 15em;
    font-size: 13px;
  }

  .imgcoin{
    width: 5em;
  }

  .sub-6{
    display: flex;
    flex-direction: column;
  }

  .tam5{
    margin-right: 0px;
  }

  .sub-6-2,.sub-6-3{
    width: 20em;
    height: 5em;
    justify-content: center;
    margin-left: 0.0em;
  }

  .img6{
    width: 2em;
    height: 2em;
    margin-right: 1em;
  }

  .txt-8, .txt-8-1{
    font-size: 13px;
    width: 19em;
    text-align: center;
    margin-right: 3em;
  }

  .cards{
    margin-top: 0px;
    margin-left: 5em;
  }

  .card-1, .card-2{
    margin: 0px;
  }

  .img2{
    width: 9em;
  }

  .p-1{
    width: 70%;
    margin-left: 3em;
  }

  .p-3{
    margin-left: 2em;
  }

  .p-2{
    margin-left: 3em;
    text-align: center;
    font-size: 17px;
  }

  .sub-7{
    flex-direction: row;
    height: 20em;
  }

  .txt-1, .txt-2{
    font-size: 33px;
  }

  .nome-me{
    width: 120%;
    margin-left: -1.3em;
    text-align: center;
    font-size: 15px;
  }

  .desc21{
    font-size: 15px;
    width: 100%;
    margin-left: 0.1em;
    text-align: center;
  }

  .txt-8-2{
    font-size: 25px;
    text-align: center;
    margin-left: 1em;
  }

  .txt-8-3{
    margin-left: 1.5em;
    width: 90%;
    font-size: 15px;
  }

}
.img6{
  border-radius: 0.9em;
}

