    
  a{
    text-decoration: none;
  }

  *{
    margin-top: 0vh;
    margin: 0%;
  }
  .corzinha2{
    background-color: #ddc8ff;
    height: 56.9em;
    padding-top: 0.4em;
  }

  .imgpc{
    width: 20em;
  }

  .saa{
    font-family: 'attack11';
    font-weight: bold;
    color: red;
    margin-bottom: 1em;
  }

  .sub{
    margin-top: -25em;
    margin-left: 50em;
  }
  
  .ab{
    display: flex;
    flex-direction: row;
    font-family: 'attack2';
  }

  .desctxt{
    font-weight: bold;
    font-family: 'attack11';
  }
    
    .b-voltar{
      background-color: #9db1fa;
      padding: 0.5em;
      width: 5em;
      border-radius: 20px;
      text-align: center;
      border:#0027b4 1px solid;
      margin-top: 2em;
      margin-left: 2em;
    }
  
    .textin{
      color: #fff;
      font-family: 'attack11';
    }
  
    .loginsub{
      display: flex;
      flex-direction: column;
    }
  .b-voltar:hover{
    background-color: #b2a4f0;
  }
    a{
      text-decoration: none;
    }
  

    
    a.links{
      display: none;
    }
    
    .conf{
      margin-top: 2em;
    }
  
    .content{
      width: 500px;
      
      position: relative; 
    }
    .content-1{
      width: 500px;
      margin: 5em 5em;
      position: relative; 
    }
  
    .lab{
      color: #000;
      font-family: 'Koho-Regular';
      font-weight: bold;
    }
  
    h1{
      font-size: 48px;
      color: #000000;
      padding: 10px 0;
      font-family: 'Playfair';
      padding-bottom: 30px;
    }
    
    
    p{
      margin-bottom:15px;
      font-family: 'Koho-Regular';
    }
    
    label{
      color: #405c60;
      position: relative;
    }
  
   ::-webkit-input-placeholder {
      color: #000000; 
      font-family: 'Koho-Regular';
    }
  
    input{
      width: 95%;
      margin-top: 4px;
      padding: 10px;  
      outline: none;
      border: 1px solid #000000;
      border-radius: 3px;
      background-color: #fff;
    }
    
   
   
    
    .link{
      position: absolute;
      color: #000;
      left: 0px;
      height: 20px;
      width: 440px;
      padding: 17px 34px 20px 30px;
      font-size: 16px;
      text-align: center;
    }
    .link a {
      background: #000;
      padding: 6px;
      color:#fff;
      margin-left: 10px;
      box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
      font-family: 'Koho-Regular';
      border-radius: 4px;  
    
      -webkit-transition: all 0.4s linear;
      transition: all 0.4s  linear;
    }
    .link a:hover {
      color: #f587ff;
      background: #f7f7f7;
    }
  
    .br{
      border: none;
    }
  
    .cadastro, 
    .login{
      box-sizing: border-box;
      position: absolute;
      top: 0px;
      width: 88%; 
      padding: 18px 2em 60px 2em;
      margin: 0px 0px 35px 0px;
      border-radius: 5px;
      
    }
  
    @media screen and (min-width: 300px) and (max-width: 480px){
   
      .corzinha2{
        height: 65em;
        width: 30em;
      }
    
      .loginsub{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: -5em;
      }
    
      .mod{
        margin-right: -5em;
      }
  
      .img1{
        margin-top: 2em;
        margin-left: 1em;
        width: 15em;
        margin-bottom: 0px;
      }
    
      .email_login1{
        display: flex;
        flex-direction: column;
        width: 18em;
      }
    
      .ab{
        display: flex;
        flex-direction: column;
        width: 100em;
      }
  
      .subb-1{
        display: flex;
        flex-direction: column;
        margin-left: -11em;
        justify-content: flex-start;
      }
    
    }
    .logar{
      width: 441px;
height: 44px;
left: 183px;
top: 426px;

background: #D3CCF1;
    }
    .logar:hover{
      width: 441px;
      height: 44px;
      left: 183px;
      top: 426px;
      
      background: #b2a4f0;
    }

    .email_login1{
      display: flex;
      flex-direction: column;
      width: 421px;
height: 24px;
left: 18px;
top: 426px;

background: #F3F7F9;
    }

    .mod{
      box-sizing: border-box;
      border-radius: 25px;
      width: 140px;
      height: 90px;
      left: 438px;
      top: 499px;
      padding: 0.4em 0.4em 0.4em 0.4em;
      margin: 8px 129px 5px;
      color: #ffff;
      background: #000000;
      border: 1px solid #000000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: -10em;
      font-family: 'attack11';
          }
  
          .mod:hover{
            box-sizing: border-box;
            border-radius: 25px;
            width: 140px;
            height: 90px;
            left: 438px;
            top: 499px;
            padding: 0.4em 0.4em 0.4em 0.4em;
            margin: 8px 129px 5px;
            color: rgb(0, 0, 0);
            background: #f7f7f7;
            border: 1px solid #000000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: -10em;
            font-family: 'attack11';


                }
     .desc-txt1{
      font-family: "attack8";
      white-space: nowrap;
      overflow: hidden;
            text-overflow: ellipsis;
     }   
     
     .subb-1{
      display: flex;
      flex-direction: column;
      margin-left: -11em;
      justify-content: flex-start;
      margin-top: -21em;
    }
  